.careLink1:hover {
  background-color: blue !important;
  color: white;
  transition: all 1s ease;
  padding: 20px !important;
}
.cb {
  color: blue !important;
}
.careNav > .careLink {
  height: 70px;
}
.careNav > .careLink {
  color: rgb(0, 0, 73) !important;
}

.careNav > .careLink:hover {
  border: solid blue !important;
  color: #ffb650 !important;
}
.careNav > .careLink.active {
  border: solid blue !important;
  background: white !important;
  color: rgb(0, 0, 73) !important;
}
.imgCareSwiper {
  cursor: pointer;
  height: 300px;
}

.imgCareSwiper:hover {
  opacity: 0.8;
  transition: 1s ease;
}
